node_modules
out
public
jest-coverage
coverage
.next
.swc
**/dist/
**/lib/
**/node_modules/
**/.next/
**/out/
**/build/
**/**/*coverage*
backend/prisma/generated
**/pnpm-lock.yaml
src/js
cluster.js
next-env.d.ts
