.devcontainer
.github
.husky
.vscode
.editorconfig
.env.example
.gitattributes
.gitignore
.gitpod.yml
.hintrc
.markdownlint.json
.prettierrc.json
.prettierignore
commitlint.config.js
docker-compose*
Dockerfile
*.md
.git
# Include ALL coverage folders
**/**/*coverage*
node_modules
# We have output tracing now
frontend/node_modules
#**/**/*node_modules*
#**/**/*out*
**/**/*reports*
**/**/*.nyc_output*

