**/dist/
**/lib/
**/node_modules/
**/.next/
**/coverage/
**/out/
**/build/
**/jest-coverage/
backend/prisma/generated/
prisma/generated/
frontend/src/js/
src/js/
frontend/.next/
.next/
pnpm-lock.yaml
frontend/out/
out/
frontend/dist/
dist/
frontend/jest-coverage/
jest-coverage/
frontend/coverage/
coverage/
frontend/cypress-coverage/
cypress-coverage/
build/
reports/
frontend/reports/
.nyc_output/
frontend/.nyc_output/
.pnpm-store/
backend/prisma/json-schema/