node_modules
dist
__taprc
coverage
prisma/generated
prisma/seed.ts
../node_modules
**/node_modules
**/dist/
**/lib/
**/node_modules/
**/.next/
**/coverage/
**/out/
**/build/
**/jest-coverage/
**/pnpm-lock.yaml